{% extends "logged_layout.html" %}

{% block title %}
    Speed chat
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='joinroom.js') }}"></script>
    <h1 id="title">Create room</h1>


    <form id="create">
        <input id="create_room" type="text" name="room" autocomplete="off" autofocus placeholder="Room Name">
        <input id="submit" type="submit" value="Create">
    </form>
    <h2 id="chatlog">Chat messages:</h2>
    <div id="chat"></div>
<form id="room" class="message">
      <textarea id="message" name="message" rows="2" cols="200" autocomplete="off" autofocus placeholder="Write a message" type="text"></textarea>
      <input id="inroom" type="submit" value="Send">
</form>

{% endblock %}
