<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>fast chat</title>
    <link rel="stylesheet" href="/home/malapanda/Documents/project2/static/style.css">
  </head>
<body>

  <div class="container">


<div class="backg1">
      <div class="navbar">
        <p class="inline"> <a> login </a> </p>
        <p class="inline"> <a> register </a> </p>
        <p class="inline"> <a href="website.html"> general chat </a> </p>

      </div>


 </div>




  </div>
</body>
</html>
