{% extends "logged_layout2.html" %}

{% block title %}
    Speed chat
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='roomlist.js') }}"></script>
<div id='hide_after_socket'>
    <h1 id="title">Select room you want to join</h1>
      <form id='form'>
       <select id="room_list" name="Join room">

    {% for room in active %}
          <option value="{{room}}">{{room}}</option>
    {% endfor %}
        </select>
      <input type="submit" value="Submit">
    </form>
</div>
    <div id="hide">
      <h1><span>You are in: </span><span id="chat_room"></span></h1>
    <div id="chat_log">
    </div>
    <form id="add-msg" class="message">
      <br>
        <textarea id="message" name="message" rows="2" cols="200" autocomplete="off" placeholder="Write a message" type="text"></textarea>
        <input id="submit"  type="submit" value="sent message">
    </form>
    </div>
{% endblock %}
