<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>fast chat</title>
    <link rel="stylesheet" href="/home/malapanda/Documents/project2/static/style.css">
  </head>
<body>

  <div class="container">



      <div class="navbar">
        <p class="login">you are: Ala </p>
        <p class="inline"> <a>join channel</a> </p>
        <p class="inline"> <a>start new channel</a> </p>
        <p class="inline"> <a>general chat</a> </p>
        <p class="inline"> <a>see all users</a> </p>

      </div>
  <img class="backg">
 <div class="text-block">
   <h1>Channel name: NAME</h1>
   <ul>
     <li>1st</li>
     <li>2nd</li>
   </ul>



 <form class="message">
   Write message:
   <br>
   <textarea name="message" rows="5" cols="200"></textarea>
   <br>
    <input type="submit" value="Post">
   <br>
 </form>
  </div>
   </div>
</body>
</html>
